@charset "UTF-8";
#a {
    padding: 50px 150px;
}

#contents year{
    font-size: 30px;
    font-weight: bold;
    padding: 120px 0px 0px 0px;
}
#paper{
    font-size: 20px;
    left: 150px;
}

#J {
    line-height: 25px;
    left: 80px;
    list-style-type: none;
}
i {
    font-weight: bold;
}
#btn {
    padding: 30px 0px 0px 1700px;
}
#d {
	font-size: 20px;
    padding: 150px 0px 0px 150px;
}
a {
	 text-decoration:none;
}